*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'Harmattan';
    src: url(../fonts/Harmattan/Harmattan-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.centerObject {
    margin-left: auto;
    margin-right: auto;
}

#base {
    width: 850px;
    height: 550px;

    display: flex;

    border-radius: 10px;

    box-shadow: 1px 1px 1px #5e5e5e;
    border: solid 1px #cecece;

    background-color: #FFFFFF;
}

#textoForm {
    width: 50%;
    height: 100%;

    padding: 40px 30px 40px 30px;

    font-family: 'Open Sans' !important;
    text-align: justify;

    flex-direction: column;
    border-radius: 10px;

    color: #FFFFFF;
    background-color: #46A60A;
}

#textoForm > h1 {
    font-family: 'Harmattan';
    font-size: 2.3em;
}

#textoForm > p {
    margin-bottom: 40px;
    line-height: 1.7;
}

#textoForm > ul > li {
    display: flex;
    align-items: center;
}

#textoForm > ul > li > img {
    margin-bottom: 20px;
    margin-right: 20px;
}

#formEnvio {
    width: 50%;
    height: 100%;

    padding: 60px 30px 40px 30px;
}

#formEnvio > form > .inputsForms > label {
    font-family: 'Open Sans';

    color: #9e9e9e;
    font-size: 0.9em;
}

#formEnvio > form > .inputsForms > input {
    width: 100%;
    height: 40px;

    font-size: 1em;

    border: none;
    background-color: transparent;
    border-bottom: solid 2px #BBBBBB;
}

.inputsForms {
    margin-bottom: 35px;
}

.borderActive {
    border-bottom: solid 2px #46A60A !important;
}

.textActive {
    color: #46A60A !important;
}

button {
    width: 160px;
    height: 35px;

    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;

    font-size: 1em;

    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #46A60A;
}