@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}
body {
    min-height: 200px; 
    height: auto; 
    overflow: hiddenr;
}
#interface{
width: 1000px;
margin-left: auto;
margin-right: auto;

}
/*FORMATAÇÃO DE TEXTOS GERAIS*/
#containerEnergia{
    padding-top: 60px;
    padding-bottom: 60px;
}
#containerEnergia > h1{
    font: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
}
#containerEnergia > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
/*como funciona o efeito Geotérmico*/
#containerAlinha{
    width: 100%;
    display: flex;
    padding-bottom: 60px;

}
#containerTexto {
    width: 50%;
    display: inline-block;
    background-color: #5ACC12;
    color: white;
    padding: 80px 20px 0px 20px; 
    margin-bottom: 4.5px;
}   
#containerTexto > h2{
    text-align: center;
    font-size: 22px;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 10px; 
}
#containerTexto p{
    text-align: justify;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
}

#containerPaises > h1{
    font: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-bottom: 60px;
}
#containerPaises > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
}

/*Metricas e Potencial Energetico do Mundo*/
#containerAlinhaMetrica {
    width: 100%;
    display: flex;
    padding-top: 60px;
}
#containerAlinhaBrasil{
    width: 100%;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
.metricaMundo > h2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}
.metricaMundo > p{
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    text-align: justify;
}
.metricaMundo{
    width: 50%;
    padding-left: 25px;
    padding-right: 30px;
}